<head>
	<title>{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="keywords" content="	疯趣,疯趣直播,疯趣app,疯趣商城,疯趣网红" />
    <meta name="description" content="疯趣 -- 致力于打造中国最大的粉丝互动娱乐平台，通过线上线下的娱乐活动，直播互动场景聚集粉丝，通过明星的影响力，网红的号召力及创客的推动力带动粉丝互动并实现票务衍生商品的商业变现" />
	<!--[if lte IE 8]><script src="{{ "/assets/js/ie/html5shiv.js" | absolute_url }}"></script><![endif]-->
	<link rel="stylesheet" href="/assets/css/main.css" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "/assets/css/ie9.css" | absolute_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "/assets/css/ie8.css" | absolute_url }}" /><![endif]-->
</head>
